<div class="modal-header"  ng-init="consultaContenido()">
    <h3 class="modal-title"> <i class="glyphicon glyphicon-trash" ></i> Borrar Contenido</h3>
</div>
<div class="modal-body">
      <div class="row" >
        <div class="form-group">
          <div class="col-sm-12">
            Borrar item de contenido?   
          </div>  
        </div>
      </div>
</div>
</div>
<div class="modal-footer">                  
    <button class="btn btn-default" id="no" ng-click="cancel()">No</button>
      <button class="btn btn-danger" ui-toggle-class="show inline" target="#spin" ng-click="okBorrarContenido(item)">
          <span class="text">Ok</span>
          <span class="text-active">Borrando Item de Contenido...</span>
        </button>
</div>